.e_mail {
  background: #ffffff;
  border: 1px solid silver;
  font-size: 15px;
  padding: 5px 4px;
  height: 17px;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 280px;
}

.pass_word {
  background: #ffffff;
  border: 1px solid silver;
  font-size: 15px;
  padding: 5px 4px;
  height: 17px;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 280px;
}

.confirm_password {
  background: #ffffff;
  border: 1px solid silver;
  font-size: 15px;
  padding: 5px 4px;
  height: 17px;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 280px;
}

.button {
  padding: 5px 4px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  width: 85px;
}

.first_name {
  background: #ffffff;
  border: 1px solid silver;
  font-size: 15px;
  padding: 5px 4px;
  height: 17px;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 280px;
}

.last_name {
  background: #ffffff;
  border: 1px solid silver;
  font-size: 15px;
  padding: 5px 4px;
  height: 17px;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 280px;
}
