.home {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url("../img/LogoHome.jpg");
  background-size: auto;
  background-repeat: round;
}

.home__container {
  display: flex;
  align-items: center;
}

.home__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header_1 {
  background-color: rgb(51, 102, 102, 0.5);
  border-radius: 15px;
  color: white;
  margin-bottom: 60px;
  text-align: justify;
  padding: 10px;
}

.header_2 {
  background-color: rgb(51, 102, 102, 0.5);
  border-radius: 15px;
  color: white;
  margin-bottom: 60px;
  text-align: center;
  padding: 10px;
}

.home__logo {
  width: 250px;
  overflow: hidden;
}
