@font-face {
  font-family: myFont;
  src: url("../fonts/rightchalk.ttf");
}

.container_primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container_item_1 {
  width: 250px;
  overflow: hidden;
  font-family: tahoma;
  color: #54adbb;
  text-align: center;
  font-size: 20px;
}

.container_item_2 {
  width: 130px;
  overflow: hidden;
  cursor: pointer;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #54adbb;
  display: flex;
  justify-content: center;
}
.container_item_3 {
  width: 130px;
  overflow: hidden;
  cursor: pointer;
}

.container_item_4 {
  width: 130px;
  overflow: hidden;
  cursor: pointer;
}

.container_primary img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .container_primary {
    display: flex;
    justify-content: center;
    height: auto;
  }

  .container_secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 80px;
  }

  .container_tertiary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }
  .container_item_2 {
    width: 210px;
    overflow: hidden;
    cursor: pointer;
  }
  .container_item_3 {
    width: 210px;
    overflow: hidden;
    cursor: pointer;
  }

  .container_item_4 {
    width: 210px;
    overflow: hidden;
    cursor: pointer;
  }
}
