@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: myFont;
  src: url("../fonts/rightchalk.ttf");
}

.navbar {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  font-family: myFont;
  color: #54adbb;
}
