.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(160 160 160 / 50%);
}

.user__name {
  color: darkcyan;
}

.user__image {
  width: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.user__editprofile {
  text-align: center;
  padding: 5px 4px;
  background: rgb(0, 175, 239, 0.5);
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  width: 85px;
}

.user__info {
  border-style: outset;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
  border-color: rgba(0, 175, 239, 0.5);
}

.user__container__editprofile {
  display: flex;
  justify-content: center;
}

.user__email {
  color: darkcyan;
}

.user__phone {
  color: darkcyan;
}

.user__country {
  color: darkcyan;
}

.user__progress {
  border-style: outset;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
  border-color: rgba(0, 175, 239, 0.5);
}

.user__progress__title {
  color: darkcyan;
}

.user__progress__maths {
  color: darkcyan;
}

.user__progress__history {
  color: darkcyan;
}

.user__progress__sciencie {
  color: darkcyan;
}

.user__progress__geography {
  color: darkcyan;
}
